<div class="social column">
	<h3 tkey='lang.words.aboutMe'></h3>
	<p>
		Mus sed interdum nunc dictum rutrum scelerisque erat a parturient condimentum potenti dapibus vestibulum condimentum per tristique porta. 
		Torquent a ut consectetur a vel ullamcorper a commodo a mattis ipsum class quam sed eros vestibulum quisque a eu nulla scelerisque a elementum vestibulum.
	</p>
	<p>
		Aliquet dolor ultricies sem rhoncus dolor ullamcorper pharetra dis condimentum ullamcorper rutrum vehicula id nisi vel aptent orci litora hendrerit penatibus erat ad sit. 
		In a semper velit eleifend a viverra adipiscing a phasellus urna praesent parturient integer ultrices montes parturient suscipit posuere quis aenean. 
		Parturient euismod ultricies commodo arcu elementum suspendisse id dictumst at ut vestibulum conubia quisque a himenaeos dictum proin dis purus integer mollis parturient eros scelerisque dis libero parturient magnis.
	</p>
	<section id='followMe'>
		<h3 tkey='lang.words.followMe'></h3>
		<ul class="icons">
			<li><a href="#" class="icon fa-twitter"><span class="label template_co" tkey='lang.words.twitter'></span></a></li>
			<li><a href="#" class="icon fa-facebook"><span class="label template_co" tkey='lang.words.facebook'></span></a></li>
			<li><a href="#" class="icon fa-instagram"><span class="label template_co" tkey='lang.words.instagram'></span></a></li>
		</ul>
	</section>
</div>
<div class="column">
	<h3 tkey='lang.words.getInTouch'></h3>
	<form id='emailMeForm' action="#" method="post">
		<div class="field half first">
			<label class='template_co' for="name" tkey='lang.words.name'></label>
			<input id="name" class='template_co' name="name" type="text" tkey='lang.words.name'>
		</div>
		<div class="field half">
			<label class='template_co' for="email" tkey='lang.words.email'></label>
			<input id="email" class='template_co' name="email" type="email" tkey='lang.words.email'>
		</div>
		<div class="field">
			<label class='template_co' for="message" tkey='lang.words.message'></label>
			<textarea id="message" class='template_co' name="message" rows="6" tkey='lang.words.message'></textarea>
		</div>
	</form>
	<ul class="actions">
		<li><button id='sendEamilBtn' class='template_co' class="button" tkey='lang.words.submit'></button></li>
	</ul>
</div>
<script type="text/javascript" src="resource/common/layout/js/contact.js"></script>