<nav id="nav">
	<ul>
		<li>
			<a menuPath='index.html' href="javascript: ;" class="active"><span class="icon fa-home"></span></a>
		</li>
		<li>
			<a href="javascript: ;" class="active"><span class="icon fa fa-th-list"></span></a>
			<ul class='sub_menu'>
				<li>
					<a href="javascript: ;">JQuery</a>
					<!--
					 -->
					<ul class='item'>
						<li><a menuPath='module/example/JQury/dataTable/demo.html' href='javascript:;'>DataTable</a></li>
					</ul>
				</li>
				<li>
					<a href="javascript: ;">Bootstrap</a>
					<ul class='item'>
						<li><a menuPath='module/example/Bootstrap/dateTimePicker/demo.html' href='javascript:;'>DateTimePIcker</a></li>
					</ul>
				</li>
			</ul>
		</li>
		<!--
		<li><a menuPath='' href="javascript: ;"><span class="icon fa-file-text-o"></span></a></li>
		-->
	</ul>
</nav>