<nav id="nav">
	<ul>
		<li>
			<a menuPath='index.html' href="javascript: ;" class="active"><span class="icon fa-home"></span></a>
		</li>
		<li>
			<a href="javascript: ;" class="active"><span class="icon fa fa-th-list"></span></a>
			<ul class='sub_menu'>
				<li>
					<a href="#">JQuery</a>
					<!--
					 -->
					<ul class='item'>
						<li><a menuPath='module/example/Jqury/dataTable/demo.html' href='#'>DataTable</a></li>
					</ul>
				</li>
				<li>
					<a href="#">Bootstrap</a>
					<ul class='item'>
						<li><a menuPath='module/example/Bootstrap/dateTimePicker/demo.html' href='#'>DateTimePIcker</a></li>
					</ul>
				</li>
			</ul>
		</li>
		<li>
			<a href="javascript: ;"><span class="icon fa-file-text-o"></span></a>
			<ul class='sub_menu'>
				<li><a name='lang' href="javascript: ;" code='en'>English</a></li>
				<li><a name='lang' href="javascript: ;" code='zh-TW'>中文</a></li>
			</ul>
		</li>
	</ul>
</nav>
<script type="text/javascript" src="resource/common/layout/js/menu.js"></script>